#myCanvas{
    display: flex;
    flex-direction:column;
    gap: 5px;
    border: 1px red solid;
}

#myCanvas > div{
    display: flex;
    flex-direction:row;
    gap: 5px;
    border: 1px red solid;
}

#myCanvas > div >div{
    height: 20px;
    width: 20px;
    background: red;
}